.App {
	text-align: center;
}

.App-content {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
h1 {
	padding: 0 1rem;
}
.main input {
	color: #353740;
	font-family: 'ColfaxAI', Helvetica, sans-serif;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5rem;
}
.main form {
	display: flex;
	flex-direction: column;
	width: 60vw;
	margin-bottom: 3rem;
}
.main textarea {
	resize: vertical;
	font: inherit;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.7rem 1rem;
	margin-bottom: 1rem;
}
.main input[type='submit'] {
	font: inherit;
	padding: 0.7rem 0;
	color: #fff;
	background-color: #109977;
	border: none;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
}
.main input[type='submit']:hover {
	background-color: #086b52;
}
.main .result {
	box-sizing: border-box;
	width: 80vw;
	max-height: 40vh;
}
.main .result div {
	font-size: calc(0.7rem + 1vmin);
	padding: 0 1rem;
	max-height: 40vh;
	margin: 0;
	overflow-y: auto;
	text-align: left;
	white-space: pre-line;
}
